<?xml version="1.0"?>

<model>
    <name>maze_model_rs</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Ahmet Rauf OKTAY</name>
        <email>ahmeytoktay@gmail.com</email>
    </author>

    <description>
        Terrarin
    </description>
</model>
